<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Miss in your lost.</title>
  <link rel="stylesheet" href="../css/basic.css">
  <script src="../libs/view-port.js"></script>
</head>
<body>
  <div class="wrap">
    <header><span class="title">Miss in Your Lost</span></header>
    <article id="topic-list">
      <!-- 话题列表 -->
    </article>
    <footer>
      <div class="cast">
        <div class="cast-con">
          <input type="text" placeholder="#话题#内容" />
        </div>
        <div class="cast-btn">
          <button class="btn btn-default">发布</button>
        </div>
      </div>
    </footer>
  </div>
</body>
<script src="../libs/jquery-1.11.1.min.js"></script>
<script src="../js/index.js"></script>
</html>