<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Miss in your lost.</title>
</head>
<body>
  <div class="wrap">
    <header>missin</header>
    <article>
      <!-- 话题列表 -->
    </article>
    <footer>
      <div class="cast">
        <div class="cast-con">
          <input type="text" placeholder="#话题#内容" />
        </div>
        <div class="cast-btn">
          <button class="btn btn-default">发布</button>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>